.frame2844421-frame2844421 {
    width: 1620px;
    height: 797px;
    display: flex;
    padding: 32px 38px;
    position: relative;
    max-width: 1620px;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: 64px;
    background-color: var(--dl-color-default-main0cefc);
    background-image: linear-gradient(150deg, rgba(245, 133, 63, 1) 0%, rgba(255, 73, 116, 1) 100%);
}

.frame2844421-image {
    width: 842px;
    height: 733px;
    margin: 0 32px 0 0;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
    border-radius: 64px;
    background-color: rgba(255, 255, 255, 0.0010000000474974513);
}

.frame2844421-frame2444423 {
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.frame2844421-text {
    color: rgba(255, 255, 255, 1);
    width: 670px;
    height: auto;
    margin: 0 0 37px 0;
    font-size: 64px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto Slab;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-frame2544425 {
    margin: 0 0 37px 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    flex-direction: column;
}

.frame2844421-frame244426 {
    width: 528px;
    margin: 0 0 32px 0;
    display: flex;
    padding: 8px 16px 12px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 64px;
}

.frame2844421-text1 {
    color: rgba(255, 255, 255, 0.75);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto Slab;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-frame344428 {
    width: 528px;
    display: flex;
    padding: 8px 16px 12px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: flex-start;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 64px;
}

.frame2844421-text2 {
    color: rgba(255, 255, 255, 0.75);
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Roboto Slab;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-text3 {
    color: rgba(255, 255, 255, 1);
    width: 435px;
    height: auto;
    margin: 0 0 37px 0;
    font-size: 24px;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-family: Roboto Slab;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-text4 {
    color: rgba(255, 255, 255, 1);
    width: 435px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-text5 {
    color: rgba(0, 8, 212, 0.5);
    width: 435px;
    height: auto;
    align-self: auto;
    font-style: normal;
    text-align: center;
    font-weight: 700px;
    font-stretch: normal;
    text-decoration: none;
}

.frame2844421-frame2444430 {
    display: flex;
    padding: 4px 16px 8px 16px;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    flex-shrink: 1;
    border-color: transparent;
    border-radius: 64px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
}