* {
  font-family: "Poppins";
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
.btn-classic {
  text-decoration: none;
  padding: 0.4rem 1.2rem;
  background: linear-gradient(#F5853F, #FF4975);
  border: none;
  border-radius: 4rem;
  color: white;
}
.btn-classic:hover {
  border: none;
  background: #FF4975;
}

header nav .nav-logo {
  width: 10rem;
}
header nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  display: inline-block;
}
header nav .nav-item a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: linear-gradient(#F5853F, #FF4975);
  transition: 0.2s;
}
header nav .nav-item a:hover::after {
  width: 100%;
}
header nav .nav-item a:hover {
  color: #F5853F;
  transition: 0.2s;
}

.frame2644412-frame2644412 {
  width: 1614px;
  height: 797px;
  display: flex;
  padding: 32px;
  position: relative;
  max-width: 1614px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 64px;
  background-color: var(--dl-color-default-main0cefc);
  background-image: linear-gradient(150deg, rgb(245, 133, 63) 0%, rgb(255, 73, 116) 100%);
}

.frame2644412-frame2444409 {
  margin: 0 38px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.frame2644412-text {
  color: rgb(255, 255, 255);
  width: 670px;
  height: auto;
  margin: 0 0 37px 0;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-frame2544411 {
  margin: 0 0 37px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.frame2644412-frame244401 {
  width: 528px;
  margin: 0 0 32px 0;
  display: flex;
  padding: 8px 16px 12px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 64px;
}

.frame2644412-text1 {
  color: rgba(255, 255, 255, 0.75);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-frame344403 {
  width: 528px;
  display: flex;
  padding: 8px 16px 12px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 64px;
}

.frame2644412-text2 {
  color: rgba(255, 255, 255, 0.75);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-text3 {
  color: rgb(255, 255, 255);
  width: 436px;
  height: auto;
  margin: 0 0 37px 0;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-text4 {
  color: rgb(255, 255, 255);
  width: 436px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-text5 {
  color: rgba(0, 8, 212, 0.5);
  width: 436px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}

.frame2644412-frame2444407 {
  display: flex;
  padding: 4px 16px 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 64px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.frame2644412-image {
  width: 842px;
  height: 733px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0.001);
}

.frame2844421-frame2844421 {
  width: 1620px;
  height: 797px;
  display: flex;
  padding: 32px 38px;
  position: relative;
  max-width: 1620px;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 64px;
  background-color: var(--dl-color-default-main0cefc);
  background-image: linear-gradient(150deg, rgb(245, 133, 63) 0%, rgb(255, 73, 116) 100%);
}

.frame2844421-image {
  width: 842px;
  height: 733px;
  margin: 0 32px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 64px;
  background-color: rgba(255, 255, 255, 0.001);
}

.frame2844421-frame2444423 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.frame2844421-text {
  color: rgb(255, 255, 255);
  width: 670px;
  height: auto;
  margin: 0 0 37px 0;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-frame2544425 {
  margin: 0 0 37px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}

.frame2844421-frame244426 {
  width: 528px;
  margin: 0 0 32px 0;
  display: flex;
  padding: 8px 16px 12px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 64px;
}

.frame2844421-text1 {
  color: rgba(255, 255, 255, 0.75);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-frame344428 {
  width: 528px;
  display: flex;
  padding: 8px 16px 12px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 2px;
  border-radius: 64px;
}

.frame2844421-text2 {
  color: rgba(255, 255, 255, 0.75);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-text3 {
  color: rgb(255, 255, 255);
  width: 435px;
  height: auto;
  margin: 0 0 37px 0;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Roboto Slab;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-text4 {
  color: rgb(255, 255, 255);
  width: 435px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-text5 {
  color: rgba(0, 8, 212, 0.5);
  width: 435px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}

.frame2844421-frame2444430 {
  display: flex;
  padding: 4px 16px 8px 16px;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  border-radius: 64px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

/*# sourceMappingURL=styles.css.map */
